/*----- Activity stream -----*/

.cms-activity-stream-panel-body {
    background-color: #f0f0f0;
    padding: 0;
}

.cms-activity-stream-panel-body a {
    font-weight: bold;
    text-decoration: none;
    color: #576cd5;
}

.cms-activity-stream-panel-body a:hover {
    text-decoration: underline;
}

#cms-activity-stream-speak-out-panel-container {
    padding: 15px 10px 10px 10px;
    border-bottom: 1px solid #ccc;
}

#cms-activity-stream-speak-out-panel-container h1 {
    font-size: 16px;
    font-weight: normal;
    color: #777777;
    margin-bottom: 10px;
}

#activity-stream-speak-out-letters-left-container {
    margin: 5px 10px 0 0;
}

#cms-activity-stream-messages-container {
    overflow: auto;
    position: absolute;
    width: 100%;
    top: 106px;
    bottom: 0;
}

.cms-activity-stream-message,
.cms-activity-stream-message td {
    font-size: 11px;
}

.cms-activity-stream-message {
    border-bottom: 1px solid #ccc;
    padding: 9px 10px 10px 10px;
}

.cms-activity-stream-message:last-child {
    border-bottom: none !important;
}

.cms-activity-stream-message:hover {
    background: #dbeeff;
    background: -moz-linear-gradient(top, #dbeeff 0%, #bbd2f0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dbeeff), color-stop(100%, #bbd2f0));
    background: -webkit-linear-gradient(top, #dbeeff 0%, #bbd2f0 100%);
    background: -o-linear-gradient(top, #dbeeff 0%, #bbd2f0 100%);
    background: -ms-linear-gradient(top, #dbeeff 0%, #bbd2f0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#dbeeff', endColorstr = '#bbd2f0', GradientType = 0);
    background: linear-gradient(top, #dbeeff 0%, #bbd2f0 100%);
}

.cms-activity-stream-message .photo-container {
    padding-right: 15px;
}

.cms-activity-stream-message .photo-container img {
    border-radius: 3px;
}

.cms-activity-stream-message .message-container {
    width: 200px;
}

.cms-activity-stream-message .photo {
    width: 32px;
    height: 32px;
}

.cms-activity-stream-message .display-name-location {
    margin-bottom: 1px;
}

.cms-activity-stream-message .display-name-location,
.cms-activity-stream-message .date-links table .pretty-date,
#activity-stream-speak-out-letters-left-container
{
    color: #555;
}

.cms-activity-stream-message .date-links
{
    margin-top: 6px;
}

.cms-activity-stream-message .date-links table {
    width: 100%;
}

.cms-activity-stream-message .date-links a {
    display: block;
}

.cms-activity-stream-message .date-links a.favorite {
    background: url(../images/favorite.png) no-repeat scroll 0 -1px TRANSPARENT;
    padding-left: 19px;
}

.cms-activity-stream-message .date-links a.favorited {
    background: url(../images/favorite-favorited.png) no-repeat scroll 0 -1px TRANSPARENT;
}

.cms-activity-stream-message .date-links a.comment {
    background: url(../images/reply.png) no-repeat scroll 0 1px TRANSPARENT;
    padding-left: 16px;
}

.cms-activity-stream-message .date-links a.more {
    background: url(../images/more.png) no-repeat scroll 0 1px TRANSPARENT;
    width: 18px;
    height: 18px;
}

/*----- Feedback Window -----*/

.cms-feedback-window {
    border-radius: 8px;
    background-color: #444;
    padding: 10px;
    position: relative;
}

.cms-feedback-window table {
    width: 100%;
}

.cms-feedback-window,
.cms-feedback-window td {
    color: #eee;
    font-size: 11px;
}

.cms-feedback-window h1 {
    font-weight: bold;
    margin-bottom: 5px;
}

.cms-feedback-window .message-text {
}

.cms-feedback-window a {
    font-weight: bold;
    color: limegreen;
}

/*----- Launcher Toolbar -----*/

#app-launcher-toolbar {
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #99BCE8;
    border-left: none;
    height: 34px;
    background: #dbeeff;
    background: -moz-linear-gradient(top, #dbeeff 0%, #bbd2f0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dbeeff), color-stop(100%, #bbd2f0));
    background: -webkit-linear-gradient(top, #dbeeff 0%, #bbd2f0 100%);
    background: -o-linear-gradient(top, #dbeeff 0%, #bbd2f0 100%);
    background: -ms-linear-gradient(top, #dbeeff 0%, #bbd2f0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#dbeeff', endColorstr = '#bbd2f0', GradientType = 0);
    background: linear-gradient(top, #dbeeff 0%, #bbd2f0 100%);
}

#app-launcher-logo {
    background: Transparent url("../images/enonic-logo.png") 0 0 no-repeat;
    width: 80px;
    height: 16px;
    cursor: pointer;
}

.app-launcher-button .x-btn-inner {
    font-size: 12px;
    font-weight: 200;
}

.app-launcher-button .x-btn-arrow {
}

.main-viewport-center-body,
.system-center-inner {
    border: none !important;
}

#main-iframe,
#system-iframe {
    width: 100%;
    height: 100%;
    border: 0
}

/*----- Logged in user popup -----*/

.cms-logged-in-user-popup {
    background-color: #fff;
    padding: 10px;
    box-shadow: 5px 5px 5px #ccc;
}

.cms-logged-in-user-popup-left {
    float: left;
    margin-right: 15px;
}

.cms-logged-in-user-popup-right {
    float: left;
    width: 243px;
}

.cms-logged-in-user-popup-left img {
    border-radius: 4px;
}

.cms-logged-in-user-popup-right h1 {
    font-size: 18px !important;
}

.cms-logged-in-user-popup-log-out {
}
