/*----- Override declarations in ext-all.css -----*/

body,
.x-body,
.x-panel-body,
.x-form-item,
.x-form-display-field {
    font: 11px tahoma, arial, verdana, sans-serif;
}

.x-form-item-label {
    font-size: 12px;
    color: #333;
}

.x-toolbar,
.x-toolbar .cms-bold-toolbar-text.x-toolbar-text {
    color: #04408C !important;
    font-weight: bold;
}

.x-html h1 {
    font-size: 2.5em;
    margin: 0
}

.x-fieldset-header {
    color: #15428B;
    font: 15px/16px bold tahoma,arial,verdana,sans-serif;
    padding: 0 0 9px;
}

.x-fieldset {
	border: 0;
	border-top: 1px solid #ccc;
	margin-bottom: 10px;
	padding: 0 15px;
}

/*----- Generic -----*/

.cms-no-border {
    border: none !important;
}

.cms-left {
    float: left;
}

.cms-right {
    float: right;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.cms-emphasis {
    font-style: italic;
}

/*----- Accounts -----*/

img.cms-grid-thumbnail {
    width: 32px;
    height: 32px;
}

img.photo {
    width: 100px;
    height: 100px;
}

/*----- Accounts Grid -----*/

.cms-grid-title {
    font-weight: bold;
}

.cms-grid-description {
}

.x-grid-cell img.cms-thumbnail {
    float: left;
    margin-right: 6px
}

/*----- Accounts Details Panel ----- */

.detail-info {
    padding: 10px;
}

.detail-info img {
    float: right;
}

.detail-info h3 {
    font-size: 24px;
    font-weight: normal;
}

.detail-info dl {
    float: left;
    padding: 10px;
    width: 50%;
    font-size: 12px;
}

.detail-info dl dt {
    float: left;
    font-style: italic;
    width: 120px;
}

.detail-info dl dd {
}

.detail-panel-container {
    width: 100%;
}

.detail-left-panel {
    float: left;
    width: 67%;
    margin: 10px;
}

.detail-right-panel {
    margin-left: 68%;
    padding: 10px;
    width: 31%;
}

.detail-right-panel-div {
    left: 0;
    padding: 0 10px;
}

/*----- Accounts Filter Panel -----*/

.facet-header {
    font-weight: bold;
    margin: 0 0 5px 0;
}

.facet-single-select-item,
.facet-multi-select-item {
    color: #000;
    margin: 0 0 -2px 15px;
}

.facet-single-select-item {
}

.facet-selected {
    font-weight: bold;
}

/*------ Accounts Edit User Form ------*/
.addresses .x-panel-dd-spacer {
    border: 2px dashed #99bbe8;
    background: #f6f6f6;
    border-radius: 4px;
    -moz-border-radius: 4px;
    margin-bottom: 10px;
}

.addresses .address {
    margin-bottom: 10px;
    padding: 1px;
}

.address .x-panel-body {
    background: #fff;
}

/*----- Cycle Button Menu Items -----*/

.x-menu-item img.icon-details-bottom, .icon-details-bottom {
    background-image: url("../images/details_bottom.gif");
}

.x-menu-item img.icon-details-right, .icon-details-right {
    background-image: url("../images/details_right.gif");
}

.x-menu-item img.icon-details-hide, .icon-details-hide {
    background-image: url("../images/details_hide.gif");
}

/*----- Icons -----*/

.icon-user {
    background-image: url("../images/user.png");
}

.icon-new-user {
    background-image: url("../icons/16x16/user_add.png");
}

.icon-edit-user {
    background-image: url("../icons/16x16/user_edit.png");
}

.icon-add-24 {
    background-image: url("../icons/24x24/user_add.png");
}

.icon-new-group {
    background-image: url("../icons/16x16/group_add.png");
}

.icon-edit-group {
    background-image: url("../icons/16x16/group_edit.png");
}

.icon-group {
    background-image: url("../icons/16x16/group.png");
}

.icon-edit-user-24 {
    background-image: url("../icons/24x24/edit.png");
}

.icon-delete-user {
    background-image: url("../icons/16x16/delete.png");
    background-position: center;
}

.icon-delete-user-24 {
    background-image: url("../icons/24x24/delete.png");
}

.icon-change-password {
    background-image: url("../images/key.png");
}

.icon-change-password-24 {
    background-image: url("../images/key-24.png");
}

.icon-find {
    background-image: url("../images/find.png");
}

.icon-report {
    background-image: url("../images/report.png");
}

.icon-accounts {
    background-image: url("../images/group.png");
}

.icon-system {
    background-image: url("../images/cog.png");
}

.icon-settings {
    background-image: url("../images/xfce-system-settings.png");
}

.icon-log-out {
    background-image: url("../images/door_out.png");
}

.icon-dashboard {
    background-image: url("../images/house.png");
}

.icon-locked {
    background-image: url("../images/icon_lock_closed.png");
}

.icon-unlocked {
    background-image: url("../images/icon_lock_open.png");
}

.icon-remote {
    background-image: url("../images/icon_remote_10px.gif");
}

.icon-enonic {
    background-image: url("../images/icon_enonic_logo.png");
}

.icon-edit {
    background-image: url("../images/pencil.png");
}

.icon-delete {
    background-image: url("../icons/16x16/delete.png");
}

.icon-new {
    background: url("../images/add.png");
}

.icon-refresh {
    background: url("../images/arrow_refresh.png");
}

.icon-save {
    background: url("../images/accept.png");
}

.icon-cancel {
    background: url("../images/cancel.png");
}

.icon-btn-arrow-left-24 {
    background: url("../icons/24x24/nav_left_blue.png");
}

.icon-btn-arrow-right-24 {
    background: url("../icons/24x24/nav_right_blue.png");
}

.icon-btn-tick-24 {
    background: url("../images/tick-24.png");
}

.icon-btn-save-24 {
    background: url("../images/disk-24.png");
}

.icon-question-mark-32 {
    background: url("../../ext/resources/themes/images/default/shared/icon-question.gif") no-repeat;
}

.icon-btn-finish-24 {
    background: url("../icons/24x24/finish.png");
}

.icon-link {
    background: url("../images/link.png") no-repeat;
}

.icon-close {
    background: url("../images/cross.png") no-repeat;
}

/*-----  Dashboard  -----*/

.dashboard .dashboard-body {
    padding: 0 0 10px 10px;
}

.dashboard .dashlet-column {
    padding: 10px 10px 0 0;
}

.dashboard .x-panel-dd-spacer {
    border: 2px dashed #99bbe8;
    background: #f6f6f6;
    border-radius: 4px;
    -moz-border-radius: 4px;
    margin-bottom: 10px;
}

.dashboard .dashlet {
    margin-bottom: 10px;
    padding: 1px;
}

.dashboard .dashlet .x-panel-body {
    background: #fff;
}

.group-item {
    font-size: 14px;
    font-weight: 200;
    margin: 5px;
    vertical-align: middle;
}

.cms-dashboard-palette-item {
    cursor: move;
    background-color: #f0f0f0;
    padding: 4px;
    margin: 2px;
    clear: both;
}

.cms-dashboard-palette-item:hover {
    background-color: #f0f0f0;
}

.cms-dashboard-palette-item .item-icon {
    float: left;
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.cms-dashboard-palette-item .item-text {
    float: left;
}

/*----- Userstore -----*/

.cms-userstore-info .cms-thumbnail {
    float: left;
    margin-right: 10px;
}

.cms-userstore-info .x-panel-body {
    border-width: 0 !important;
}

.cms-userstore-info .x-toolbar {
    border-width: 1px !important;
}

.x-form-display-field {
    padding-left: 5px;
    padding-top: 3px;
}

.cms-group-display {
    background: #d3d3d3;
    margin-bottom: 3px;
    cursor: auto !important;
}

.cms-group-display button {
    cursor: auto !important;
}

/*----- Cache -----*/

.cms-cache-info h1 {
    margin: 0;
}

.cms-cache-info h1 span {
    font-size: 13px;
    font-style: normal;
    margin-left: 10px;
}

/*----- Grid selected item -----*/

.cms-selected-item-box {
    float: left;
    display: inline-block;
}

.cms-selected-item-box.large .right a:hover,
.cms-selected-item-box.small .right a:hover {
    border: 1px solid #d1d1d1;
}

.cms-selected-item-box .left {
    float: left;
}

.cms-selected-item-box .center {
    float: left;
}

.cms-selected-item-box .right {
    float: left;
}

/*----- Large -----*/
.cms-selected-item-box.large {
    padding: 3px;
    margin: 0 10px 10px 0;
}

.cms-selected-item-box.large .left {
    margin-right: 10px;
}

.cms-selected-item-box.large .left img {
    width: 32px;
    height: 32px;
}

.cms-selected-item-box.large .center {
    margin-right: 10px;
}

.cms-selected-item-box.large .center h2 {
    margin: 0;
    font-size: 14px;
    font-weight: normal;

}

.cms-selected-item-box.large .center p {
    margin: 0;
}

.cms-selected-item-box.large .right {
    margin: 6px 6px 0 0;
}

.cms-selected-item-box.large .right a {
    width: 22px;
    height: 22px;
    display: block;
    border: 1px solid TRANSPARENT;
    background: transparent url(../../resources/images/cross.png) no-repeat 2px;
}

/*----- Small -----*/
.cms-selected-item-box.small {
    padding: 2px;
    margin: 0 10px 10px 0;
}

.cms-selected-item-box.small .left {
    margin-right: 5px;
}

.cms-selected-item-box.small .left img {
    width: 20px;
    height: 20px;
}

.cms-selected-item-box.small .center {
    margin-right: 5px;
}

.cms-selected-item-box.small .center h2 {
    font-size: 11px;
    font-weight: normal;
    margin: 2px 0 0 0;
}

.cms-selected-item-box.small .center p {
    margin: 0;
}

.cms-selected-item-box.small .right {
    margin: 4px 3px 0 0;
}

.cms-selected-item-box.small .right a {
    width: 12px;
    height: 12px;
    display: block;
    border: 1px solid TRANSPARENT;
    background: transparent url(../../resources/images/cross-sm.png) no-repeat 1px;
}

/*----- Edit Form Header -----*/
.cms-edit-form-header {
    background-color: #eee;
    padding: 10px;
}

.cms-edit-form-header .left {
    float: left;
    margin-right: 16px;
}

.cms-edit-form-header .left img {
    width: 40px;
}

.cms-edit-form-header .right {
    float: left;
}

.cms-edit-form-header .right h1 {
    font-size: 18px;
    float: left;
}

.cms-edit-form-header .edit-button {
    display: block;
    margin: 2px 0 0 5px;
    padding: 3px;
    border: 1px solid TRANSPARENT;
    background: TRANSPARENT url(../../resources/images/pencil.png) no-repeat;
    width: 16px;
    height: 16px;
    float: right;
}

.cms-edit-form-header .edit-button:hover {
    border-color: #ccc;
}

.cms-edit-form-header .right p {
    margin: 5px 0 0 0;
}

.cms-display-name-editable {
    font-weight: normal !important;
}

.cms-display-name {
    border: none;
    font-weight: bold;
    text-align: left;
    background: none;
}

.cms-user-info .cms-user-photo {
    margin-right: 10px;
}

.cms-user-info img {
    width: 48px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.cms-user-info h2 {
    margin: 0;
}

.cms-userstore-block {
    padding: 5px;
    cursor: pointer;
}

.cms-userstore-block h2 {
    margin-top: 4px;
    font-size: 18px;
    font-weight: normal;
}

.cms-userstore {
    padding-left: 10px;
    margin-bottom: 2px;
    border: 1px solid transparent;
}

div.cms-userstore:hover,
div.cms-userstore-active {
    background: #dbeeff;
    background: -moz-linear-gradient(top, #dbeeff 0%, #bbd2f0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dbeeff), color-stop(100%, #bbd2f0));
    background: -webkit-linear-gradient(top, #dbeeff 0%, #bbd2f0 100%);
    background: -o-linear-gradient(top, #dbeeff 0%, #bbd2f0 100%);
    background: -ms-linear-gradient(top, #dbeeff 0%, #bbd2f0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#dbeeff', endColorstr = '#bbd2f0', GradientType = 0);
    background: linear-gradient(top, #dbeeff 0%, #bbd2f0 100%);
    border: 1px solid #6495ed;
}

.cms-userstore input {
    vertical-align: middle;
}

/*----- New form -----*/

.cms-new-user-header {
}

.cms-new-user-header h4 {
    margin: 0 !important;
}

/*----- Wizard navigation -----*/

.cms-wizard-toolbar .x-mask {
    display: none;
}
.cms-wizard-toolbar.x-item-disabled {
    opacity: 1;
    filter: none;
}

ul.cms-wizard-navigation {
    list-style-type: none !important;
    margin-left: 6px;
    padding: 1px;
    background-color: #ccc;

}

ul.cms-wizard-navigation li {
    float: left;
    list-style: none;
    margin: 0;
    padding-right: 14px;
}

ul.cms-wizard-navigation li {
    background: TRANSPARENT url(../../resources/images/wizard-navigation-arrow.png) no-repeat top right;
}

ul.cms-wizard-navigation li.current {
    background-image: url(../../resources/images/wizard-navigation-arrow-current.png);
}

ul.cms-wizard-navigation li.previous {
    background-image: url(../../resources/images/wizard-navigation-arrow-previous.png);
}

ul.cms-wizard-navigation li.last {
    background-image: url(../../resources/images/wizard-navigation-arrow-last.png);
}

ul.cms-wizard-navigation li.current-last {
    background-image: url(../../resources/images/wizard-navigation-arrow-current-last.png);
}

ul.cms-wizard-navigation li.last-current {
    background-image: url(../../resources/images/wizard-navigation-arrow-current.png);
}

ul.cms-wizard-navigation li a {
    display: block;
    margin-right: 2px;
    padding: 8px 15px 8px 15px;
    color: #222;
    text-decoration: none !important;
    cursor: pointer;
    background-color: #eee;
}

ul.cms-wizard-navigation li a.previous {
}

ul.cms-wizard-navigation li a.current,
ul.cms-wizard-navigation li a.current-last {
    padding-right: 86px;
    color: #000;
    font-weight: bold;
    background-color: #fff;
}

ul.cms-wizard-navigation a.next {
    color: #acacac;
}

.edit-user ul.cms-wizard-navigation a.next {
    color: #222222;
}

.cms-wizard-toolbar.x-item-disabled ul.cms-wizard-navigation a.next,
ul.cms-wizard-navigation li a.last,
ul.cms-wizard-navigation li a.last-current {
    color: #acacac;
    cursor: default;
}

.cms-wizard>div>.x-panel-body {
    border: 0 none;
}

.cms-wizard .x-panel-body {
    border: 0 none;
}

/*----- Wizard header -----*/

.cms-wizard-header-container {
    margin-bottom: 4px;
    font-size: 12px;
    padding-left: 3px;
}

.cms-wizard-header-container p {
    margin: 0;
}

.cms-wizard-header-container .cms-wizard-header {
    position: relative;
}

.cms-wizard-header-container input {
    width: 99%;
    margin: 3px 0 0 3px;
    border: 1px solid TRANSPARENT;
    color: #555555;
    font-size: 26px;
    font-weight: normal;
    border-radius: 2px;
}

.cms-wizard-header-container input:hover {
    border: 1px solid #98c9f2;
    box-shadow: 0 0 3px #98c9f2;
}

.cms-wizard-header-container input:focus {
    color: #000 !important;
    border: 1px solid #99BCE8 !important;
}

.user-store-user-name {
    padding-left: 3px;
}

.cms-edited-field {
    color: #000 !important;
}

/*----- Image Upload Button -----*/

.cms-image-upload-button-container {
    position: relative;
    cursor: pointer;
}

.cms-file-upload-drop-target {
    border: 1px solid #98c9f2;
    box-shadow: 0 0 3px #98c9f2;
}

.cms-image-upload-button-container .cms-image-upload-button-image {
}

.cms-image-upload-button-container .cms-image-upload-button-progress-bar-container {
    visibility: hidden;
    position: absolute;
    border: 1px solid #555;
    background-color: #555;
    bottom: 1px;
    left: 1px;
    right: 1px;
    font-size: 1px;
    border-radius: 4px;
}

.cms-image-upload-button-container .cms-image-upload-button-progress-bar {
    font-size: 1px;
    background: #dbeeff;
    background: -moz-linear-gradient(top, #dbeeff 0%, #99BCE8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dbeeff), color-stop(100%, #99BCE8));
    background: -webkit-linear-gradient(top, #dbeeff 0%, #99BCE8 100%);
    background: -o-linear-gradient(top, #dbeeff 0%, #99BCE8 100%);
    background: -ms-linear-gradient(top, #dbeeff 0%, #99BCE8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#dbeeff', endColorstr = '#99BCE8', GradientType = 0);
    background: linear-gradient(top, #dbeeff 0%, #99BCE8 100%);
    border-radius: 3px;
}

.cms-list-item {
    height: 16px;
    width: 16px;
    display: inline-block;
    margin-right: 3px;
}

.cms-groups-boxselect li.x-boxselect-item {
    background: url("../icons/16x16/group.png") no-repeat 3px 3px #DEE7F8;
    margin: 4px 0 0 4px;
    padding: 0px 1px 4px 5px !important;
}

.cms-groups-boxselect li.x-boxselect-item:hover {
    background: url("../icons/16x16/group.png") no-repeat 3px 3px #BBCEF1 !important;
}

.cms-groups-boxselect div.x-boxselect-item-text {
    font-size: 11px;
    margin-left: 18px;
    padding-top: 1px;
}

.cms-cursor-clickable {
    cursor: pointer !important;
    text-decoration: underline;
}

.cms-bold-text {
    font-weight: bold !important;
}

/*****   Base dialog Window   *****/
.cms-dialog-window .dialog-header h3 {
    margin-top: 0;
}

.cms-dialog-window .dialog-info {
    color: #555;
    border: 1px solid #B5B8C8;
    padding:  10px;
}